<div class="container">
    <div class="dashboard">
        <div class="dashboard-header">
            <h1>
                TRIBMLE's Employees
                <button mat-fab color="addnew" aria-label="Add Employee" (click)="addEmployee()">
                    <mat-icon>add</mat-icon>
                </button>
            </h1>
        </div>
        <div class="dashboard-body">
            <h2>
                Employees :)
            </h2>
            <app-employee></app-employee>
        </div>
    </div>
</div>
<!-- <app-add-employee></app-add-employee> -->