.container {
    width: 100%;
}

.dashboard {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    width: 80%;
    margin: 5vh auto;
    height: 200vh;
    // padding: 0 2vw;
    // padding: 5vh 10vw;

    .dashboard-header {
        background-color: #91bef5;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 5vh 2vw;
        // display: flex;

        button {
            float: right;
        }

        .mat-addnew {
            background-color: #4CAF50;
            color: white;
        }
    }

    .dashboard-body {
        padding: 2vh 2vw;
        margin: 0 auto;
    }
}