<h1>Add a employee </h1>
<form class="add-employee-form">
    <mat-form-field>
        <div *ngIf="inputEmployeeFirstname.invalid && (inputEmployeeFirstname.dirty || inputEmployeeFirstname.touched)" class="alert">          
            <div *ngIf="inputEmployeeFirstname.errors?.required">
                String must be entered
            </div>
            <div *ngIf="inputEmployeeFirstname.errors?.minlength">
                String must be at least 3 characters long.
            </div>
        </div>
        <input
        matInput
        name="inputEmployee" [(ngModel)]='firstname' #inputEmployeeFirstname="ngModel" required minlength="3"/>
    </mat-form-field>
    <mat-form-field>
        <div *ngIf="inputEmployeeLastname.invalid && (inputEmployeeLastname.dirty || inputEmployeeLastname.touched)" class="alert">          
            <div *ngIf="inputEmployeeLastname.errors?.required">
                String must be entered
            </div>
            <div *ngIf="inputEmployeeLastname.errors?.minlength">
                String must be at least 3 characters long.
            </div>
        </div>
        <input 
            matInput  
            name="inputEmployee" [(ngModel)]='lastname' #inputEmployeeLastname="ngModel" required minlength="3"/>
    </mat-form-field>

    <button mat-button (click)="addEmployee()">Add</button>
</form>
  