<!-- <mat-grid-list cols="2" rowHeight="50vh">
    <mat-grid-tile > -->
        <div *ngFor="let employee of employees">
            <mat-card class="employeeCard">
                <mat-card-header>
                    <div mat-card-avatar class="avatar-image"></div>
                    <mat-card-title class="card-title">
                        {{ employee.firstname }} {{ employee.lastname }}
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{ employee.position}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <h4>
                        Address
                    </h4>
                    <p>
                        {{ employee.address }}
                    </p>
                    <h4>
                        Department
                    </h4>
                    <p>
                        {{ employee.department }}
                    </p>
                    <h4>
                        Recruted
                    </h4>
                    <p>
                        {{ employee.creationDate}}
                    </p>
                </mat-card-content>
                <mat-card-actions class="card-buttons">
                    <div>
                        <!-- <button mat-icon-button><mat-icon>edit</mat-icon></button> -->
                        <button mat-fab color="primary" aria-label="Edit Employee">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-fab color="warn" aria-label="Delete Employee" (click)="deleteEmployee(employee.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    <!-- </mat-grid-tile> -->
<!-- </mat-grid-list> -->

