.employeeCard {
    // width: 200px;
    // height: 200px;
    float: left;
    margin: 5vh 3vw;
    display: flex;
    flex-direction: column;
    background-color: #b5fbf3;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    .avatar-image {
        background-image: url("../../../assets/avatar.png");
        background-size: cover;
        // height: 5vh;
    }
  
    .card-title {
      flex-shrink: 0;
    }
  
    .card-content {
      flex-grow: 1;
      overflow: auto;

      h4 {
          font-weight: bold;
          margin-bottom: 0;
      }

      p {
          padding-left: 1vw;
      }
    }
  
    .card-buttons {
      display: flex;
      justify-content: end;
      margin-top: 2vh;

      button {
        margin-right: 5px;
      }
    }
  }

.mat-grid-tile {
    margin: 5vh 0;
}
  